<section class="index-page">
<div class="user-page">
  <img class="avatar" src="https://static01.nyt.com/images/2019/11/17/books/review/17Salam/Salam1-superJumbo.jpg" alt="user's photo"></img>
  <h1>Hello {{ name }}!  </h1>
  <a class="logout" href="/auth.logout">
    Logout
  </a>
</div>  
</section>